apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: sample-crazy-demo
  labels:
    crazy: value
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-crazy-demo
  template:
    metadata:
      labels:
        app: sample-crazy-demo
        chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    spec:
      containers:
      - name: sample-crazy-demo
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
{{- if not .Values.rbacEnable }}
        - name: RBAC_ENABLED
          value: "false"
{{- end }}
{{- if .Values.agent }}
{{- if .Values.agent.toleration }}
        - name: AGENT_TOLERATION
          value: {{ .Values.agent.toleration }}
{{- end }}
{{- end }}
{{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      resources:
{{ toYaml .Values.resources | indent 10 }}
{{- end }}
